<nav class="bg-blue-1 px-8 py-4">
    <div class="flex justify-between items-center">
        <div class="text-2xl font-semibold">
            <a routerLink="/" routerLinkActive="active">
                <img src="../../assets/logo.png" alt="logo" class="">
            </a>
        </div>
        <div class="flex items-center gap-6">
            <ul class="flex gap-6 text-white">
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li>><a routerLink="/about" routerLinkActive="active">About Us</a></li>
                <li>Solutions</li>
                <li>Contact Us</li>
                <li>Sign Up</li>
            </ul>
            <button class="bg-yellow-1 py-2 px-6 text-black rounded-lg">Log in</button>
        </div>
    </div>
</nav>