<nav class="bg-gray-500 px-8 py-4 sticky top-0">
    <div class="flex justify-between items-center">
        <div class="text-2xl font-semibold">
            <a routerLink="/" routerLinkActive="active">NewsApp</a>
        </div>
        <div>
            <ul class="flex gap-6">
                <a routerLink="/about" routerLinkActive="active">About</a>
                <li>Contact</li>
                <li>Career</li>
                <li><a routerLink="/login" routerLinkActive="active">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>